---
---

{ @import "minima/skins/{{ site.minima.skin | default: 'dark' }}"; @import "minima/initialize"; }


body {

    background: rgb(112, 106, 106) ;

}
.post{@import "minima/skins/{{ site.minima.skin | default: 'dark' }};"
    "minima/initialize";

    background: rgb(112, 106, 106) ;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

/* hacer que una imagen se mueva dependiendo de la posicion del mouse */

img {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

img:hover {
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
}

