{%- assign page_paths = site.header_pages I default: default_paths -3}
{<!-
Original title display code from the minima theme.
<a class="site-title" rel="author" href="{{ "/" relative_url }}">{{ site.title
->
<!- Custom: add title or title-logo -->
 da (class="site-title" rel="author" href="{{ "/" relative_url }}"
  -%- if site. title-logo -%}
    <img src="{{ site.title-logo relative_url }}" alt="{{ site. title escape
    -%- else -8}
      {{ site.title I escape }<</a>
  -%- engif -8}
</a>
<!- end title or title-logo ->
-%- if page_paths -%}
  <nav class="site-nav">
    <input type="checkbox" id="nav-trigger" class="nav-trigger" />
    <label for="nav-trigger">
      <span class="menu-icon">
        <svg viewBox="0 0 18 15" width="18px" height="15px">
          <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0
        </svg>
      </span>
    </label>
